In [27]:
import pandas as pd

In [39]:
gov_corruption_df = pd.read_csv('clean data/cpi_2019.csv')
generosity_df = pd.read_csv('clean data/global_generosity_score.csv')
human_freedom_df = pd.read_csv('clean data/hf_score.csv')
life_expectancy_df = pd.read_csv('clean data/lifeexp.csv')
education_df = pd.read_csv('clean data/clean_edu.csv')
gdp_df = pd.read_csv('clean data/Updated_GDP.csv')
happy_df = pd.read_csv('clean data/happy_score.csv')

In [40]:

gov_corruption_df = gov_corruption_df.drop('Unnamed: 0',axis=1)
generosity_df = generosity_df.drop('Unnamed: 0',axis=1)

In [41]:
clean_corrupt_df = gov_corruption_df.sort_values('Country')
clean_corrupt_df = clean_corrupt_df.reset_index(drop=True)
#clean_corrupt_df

In [47]:
gdp_df = gdp_df.rename(columns={'Country Name':'Country','Country Code':'Region','2019':'GDP'})
gdp_df = gdp_df[['Country','GDP']]


happy_df = happy_df.rename(columns={'Country or region':'Country','Score':'Happiness Score'})
happy_df

                      Country  Happiness Score
0                     Finland            7.769
1                     Denmark            7.600
2                      Norway            7.554
3                     Iceland            7.494
4                 Netherlands            7.488
..                        ...              ...
151                    Rwanda            3.334
152                  Tanzania            3.231
153               Afghanistan            3.203
154  Central African Republic            3.083
155               South Sudan            2.853

[156 rows x 2 columns]

In [48]:
clean_gen_df = generosity_df.rename(columns={'country':'Country','overallScore':'Generosity Score'})
clean_gen_df = clean_gen_df.sort_values('Country')
clean_gen_df = clean_gen_df.reset_index(drop=True)
#clean_gen_df

In [49]:
human_freedom_df = human_freedom_df.rename(columns={'countries':'Country','region':'Region','hf_score':'Human Freedom Score'})
#human_freedom_df

In [50]:
education_df = education_df.rename(columns={'Data Source':'Country','Unnamed: 8':'Enrollment'})

In [51]:
merge_1 = pd.merge(clean_corrupt_df,clean_gen_df,how='outer',on='Country')
merge_2 = pd.merge(merge_1,human_freedom_df,how='outer',on='Country')
merge_3 = pd.merge(merge_2,life_expectancy_df,how='outer',on='Country')
merge_4 = pd.merge(merge_3,education_df,how='outer',on='Country')
merge_5 = pd.merge(merge_4,gdp_df,how='outer',on='Country')
final_data_df = pd.merge(merge_5,happy_df,how='outer',on='Country')

,Country,Region,CPI score 2019,Generosity Score,Human Freedom Score,Life Expectancy,Enrollment,GDP,Happiness Score
0,Afghanistan,AP,16.0,31.0,NaN,63.2,NaN,507.103432,3.203
1,Albania,ECA,35.0,23.0,7.81,78.0,59.7785,5353.244856,4.719
2,Algeria,MENA,35.0,NaN,5.20,77.1,NaN,3973.964072,5.211
3,Angola,SSA,26.0,NaN,5.48,63.1,NaN,2790.726615,NaN
4,Argentina,AME,45.0,28.0,7.05,76.6,NaN,9912.281809,6.086
...,...,...,...,...,...,...,...,...,...
305,Ivory Coast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.944
306,Congo (Brazzaville),NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.812
307,Palestinian Territories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.696
308,Congo (Kinshasa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.418
309,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.212

In [52]:
final_data_df = final_data_df[['Country','Region','Happiness Score','CPI score 2019','Generosity Score',
                               'Human Freedom Score','Life Expectancy','Enrollment','GDP']]

final_data_df

,Country,Region,Happiness Score,CPI score 2019,Generosity Score,Human Freedom Score,Life Expectancy,Enrollment,GDP
0,Afghanistan,AP,3.203,16.0,31.0,NaN,63.2,NaN,507.103432
1,Albania,ECA,4.719,35.0,23.0,7.81,78.0,59.7785,5353.244856
2,Algeria,MENA,5.211,35.0,NaN,5.20,77.1,NaN,3973.964072
3,Angola,SSA,NaN,26.0,NaN,5.48,63.1,NaN,2790.726615
4,Argentina,AME,6.086,45.0,28.0,7.05,76.6,NaN,9912.281809
...,...,...,...,...,...,...,...,...,...
305,Ivory Coast,NaN,4.944,NaN,NaN,NaN,NaN,NaN,NaN
306,Congo (Brazzaville),NaN,4.812,NaN,NaN,NaN,NaN,NaN,NaN
307,Palestinian Territories,NaN,4.696,NaN,NaN,NaN,NaN,NaN,NaN
308,Congo (Kinshasa),NaN,4.418,NaN,NaN,NaN,NaN,NaN,NaN
309,Swaziland,NaN,4.212,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
merge_3.dropna(axis=0,how='any')

,Country,Region,CPI score 2019,Generosity Score,Human Freedom Score,Life Expectancy
1,Albania,ECA,35.0,23.0,7.81,78.0
4,Argentina,AME,45.0,28.0,7.05,76.6
5,Armenia,ECA,42.0,21.0,7.69,76.0
6,Australia,AP,77.0,56.0,8.68,83.0
7,Austria,WE/EU,77.0,45.0,8.45,81.6
...,...,...,...,...,...,...
168,Ukraine,ECA,30.0,24.0,6.45,73.0
169,United Arab Emirates,MENA,71.0,45.0,6.17,76.1
172,Uruguay,AME,71.0,30.0,7.92,77.1
178,Zambia,SSA,34.0,39.0,6.71,62.5
179,Zimbabwe,SSA,24.0,29.0,5.59,60.7