In [6]:
#import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
gdp_to_load = "Global_GDP.csv"
csv_path = "Global_GDP.csv"
#import csv
gdp_df = pd.read_csv("Global_GDP.csv")
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,641.871479,637.165523,613.856689,578.466353,509.218661,519.884773,493.750418,507.103432,NaN,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2790.726615,NaN,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5353.244856,NaN,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN,NaN

In [10]:
gdp_df["Country Name"].head()

0          Aruba
1    Afghanistan
2         Angola
3        Albania
4        Andorra
Name: Country Name, dtype: object

In [11]:
reduced_df = gdp_df[["Country Name", "Country Code", "2019"]]
reduced_df.head()

  Country Name Country Code          2019
0        Aruba          ABW           NaN
1  Afghanistan          AFG    507.103432
2       Angola          AGO   2790.726615
3      Albania          ALB   5353.244856
4      Andorra          AND  40886.391165

In [15]:
total_countryname = len(gdp_df['Country Name'].unique())
total_countryname

264